In [1]:
import pandas as pd

In [2]:
cu_preds = pd.read_csv("cu_preds.csv", header=None, names=['idx', 'text', 'stars', 'pred'])

In [3]:
cu_preds.head()

   idx                                               text  stars      pred
0   14  Called for a 5:15 morning reservation. The dri...    5.0  5.112949
1  108  There are good things, and bad things about th...    2.0  2.203524
2  307  The building is lovely.  The remodel after But...    1.0  1.553763
3  424  LOVE LOVE LOVE this place! I'm a bit of a suck...    5.0  4.849468
4  522  The bread company is perfect for lunch. The pr...    4.0  4.852670

In [4]:
cu_preds.to_csv("s3://yelp-dataset-pt-9/spencer/data/sentiment/en/cu_preds.csv", index=False)

In [5]:
cu_preds = pd.read_csv("s3://yelp-dataset-pt-9/spencer/data/sentiment/en/cu_preds.csv")

In [6]:
cu_preds.head()

   idx                                               text  stars      pred
0   14  Called for a 5:15 morning reservation. The dri...    5.0  5.112949
1  108  There are good things, and bad things about th...    2.0  2.203524
2  307  The building is lovely.  The remodel after But...    1.0  1.553763
3  424  LOVE LOVE LOVE this place! I'm a bit of a suck...    5.0  4.849468
4  522  The bread company is perfect for lunch. The pr...    4.0  4.852670

In [7]:
df1 = pd.read_csv("preds-copy.csv", header=None, names=['idx', 'text', 'stars', 'pred'])
df2 = pd.read_csv("preds.csv", header=None, names=['idx', 'text', 'stars', 'pred'])

In [8]:
df = pd.concat([df1, df2]).reset_index(drop=True)
df.shape

(837169, 4)

In [9]:
no_dup = df.drop_duplicates()
no_dup.shape

(837169, 4)

In [10]:
no_dup.to_csv("s3://yelp-dataset-pt-9/spencer/data/sentiment/en/val_pred.csv", index=False)

In [11]:
df = pd.read_csv("s3://yelp-dataset-pt-9/spencer/data/sentiment/en/val_pred.csv")
df.head()

   idx                                               text  stars      pred
0    0  Really great local auto repair spot... really ...    5.0  4.891084
1    1  Best Oyster House in Toronto.  Great variety a...    5.0  5.034161
2    2  We thoroughly enjoy eating here. We go here at...    5.0  4.932011
3    3  OMG!!! So good!!!!  I was in AZ for work and I...    5.0  5.016096
4    4  We are here once over a year ago before we mov...    1.0  2.771281

In [12]:
df.tail()

,idx,text,stars,pred
837164,837164,"I am a bona fide ice cream, fro yo, and froze...",3.0,2.905407
837165,837165,Let's start off by saying I've only ever been ...,4.0,4.147695
837166,837166,"""For an extra dollar would you like to add gua...",1.0,1.884488
837167,837167,This was my first time here. The service is to...,5.0,4.921843
837168,837168,"By now, I think we all know that Americans lik...",5.0,4.247588